* {
    padding: 0;
    margin: 0;
    line-height: 1em;
    outline: none;
    font-size: 24px;
    font-family: Consolas, Courier, monospace;
    font-weight: 700;
}

/* @font-face {
    src: url("./font/NotoSansCJK-Regular.ttc");
    font-family: MInecraft;
} */

body {
    background-color: hsl(0, 0%, 10%);
    overflow-x: hidden;
}
/*主要容器*/
.main {
    position: relative;
    border: 1px solid white;
    height: 1.5em;
    width: 80vw;
    margin: 5em auto;
}
/*容器子元素默认样式*/
.main > * {
    color: white;
    font-size: 1em;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    position: absolute;
    height: initial;
    min-height: 1.5em;
    width: inherit;
    line-height: 1.5em;
    background-color: transparent;
}
/*输入框的样式*/
.main input {
    caret-color: white;
    color: transparent;
    line-height: 1.5em;
}

/*.main #inputTip span {*/
/*    display: unset;*/
/*    color: gray;*/
/*}*/
/*提示框容器样式*/
#inputTip {
    width: calc(80vw + 2px);
    position: absolute;
    top: calc(1.5em + 1px);
    left: -1px;
}
/*提示列表样式*/
#inputTip > #tipDisplay > ul {
    min-height: 1.5em;
    max-height: 15em;
    overflow-y: scroll;
    overflow-x: hidden;

    border: 1px solid white;
    border-top: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    list-style: none;
    padding: 0 1px;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
/*隐藏滚动条*/
#inputTip > #tipDisplay > ul::-webkit-scrollbar {
    width: 0 !important
}
/*每条提示样式*/
#inputTip > #tipDisplay > ul > li {
    /*width: 80vw;*/
    padding-right: 1em;
    overflow: hidden;
    user-select: none;
    height: 1.5em;
    line-height: 1.5em;
}
/*提示选中样式*/
#inputTip > #tipDisplay > ul > li.selected {
    background-color: hsl(0, 0%, 40%);
    height: auto;
}
/*鼠标悬浮样式*/
#inputTip > #tipDisplay > ul > li:hover {
    background-color: hsl(0, 0%, 30%);
    height: auto;
}
/*列表下划线*/
#inputTip > #tipDisplay > ul > li:not(:last-child) {
    border-bottom: 1px solid hsl(0, 0%, 60%);
}
/*缩进样式*/
#span {
    color: transparent;
}
/*wiki样式*/
.autoOpenWiki {
    width: 100vw;
    display: flex;
    justify-content: center;
}
/*wiki容器样式*/
iframe {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}