* {
    padding: 0;
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace,sans-serif;
    font-size: 14px;
    line-height:1.2em;
    
}
body {
    min-height: 100vh;
    width: 100vw;
    margin-top: 2em;
    margin-bottom: 3em;
    background: #2f3542;
}
.menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 2em;
    background: #57606f;
    list-style: none;
    color: #fff;
    padding-left: 10vw;
    user-select: none;
    z-index: 10;
}
.menu label {
    width: 15vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.search + div {
    background: inherit;
    text-align: center;
    position: fixed;
    right: .5em;
    top: 2.5em;
    width: 50vw;
    min-height: 5em;
    padding: .5em;
}
.search + div input {
    background: #2f3542;
    border: 1px solid Gray;
    margin-bottom: .5em;
    outline: none;
    color: #fff;
}
.search + div button {
    background: inherit;
    border: 1px solid Gray;
    outline: none;
    color: #fff;
    padding: .2em .5em;
}
header {
    position: absolute;
    left: 0;
    width: 10vw;
    min-height: 100vh;
    overflow-y: hidden;
    float: left;
    background: #747d8c;
    user-select: none;
    z-index: -1;
}
header p {
    color: #fff;
    text-align: center;
    box-sizing: boder-box;
}
main {
    margin-left: 5vw;
}
textarea {
    position: absolute;
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    color: transparent;
    caret-color:#fff;
    z-index: 2;
}
textarea::selection {
    color: transparent;
    background: #ced6e050;
}
.view {
    color: #fff;
    z-index: -6;
    
}
textarea,
textarea + div {
    position: absolute;
    left: 10vw;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 50em;
    min-width: 90vw;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 2em;
    background: #57606f;
    color: #fff;
    z-index: 10;
    user-select: none;
}
footer>div {
    float: right;
    height: 100%;
    min-width: 10vw;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.length + div {
   bottom: 3em;
   right: .5em;
   min-width: 1em;
   height: 3em;
   padding: .5em;
   position: fixed;
   background: inherit;
}
.hidden {display: none;}


